<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/edit" method="POST">
            <input class="block q-1/4 rounded-md outline-none px-5 py-2 bg-zinc-800" type="text" disabled="true" placeholder="old file name" name="previous" value="<%=filename %>">
            <input class="block q-1/4 rounded-md outline-none px-5 py-2 bg-zinc-800 mt-2" type="text" placeholder="new file name" name="new">
            <input class="mt-2 bg-yellow-600 px-5 py-2 rounded-md" type="submit" value="Upadte name"> 

        </form>
    </div>
</body>
</html>